@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("./src/assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "work-sans", sans-serif;
}

@theme {
  --color-primary: #f4e8d4;
  --color-secondary: #3d2a16;
  --color-button: #e09532;
  --color-block: #f0e9ce;
}
