@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url("./src/assets/images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
@theme {
  --color-primary: #f4e8d4;
  --color-secondary: #3d2a16;
  --color-button: #e09532;
  --color-block: #f0e9ce;
  --color-case: #e8dba7;
}
#fontWalter {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-style: normal;}
